**Display the text â€œHello World! My name is ...."**

In [1]:
print("Hello World! My name is Ruben Brionez Jr!")  #print function

Hello World! My name is Ruben Brionez Jr!

**Add two numbers together**

In [2]:
5 + 9 # Add

14

**Subtract a number from another number**

In [3]:
35 - 32 # Subract

3

**Multiply two numbers**

In [4]:
5 * 8 # Multiply

40

**Divide between two numbers**

In [5]:
88 / 8 # Division

11.0

**Concatenate two strings together (any words)**

In [6]:
"Hello" + " " + "Everyone!"

'Hello Everyone!'

**Create a list of 4 items (can be strings, numbers, both)**

In [9]:
list1 = [1, "Fish", 2, "Fish"]
print(list1)

[1, 'Fish', 2, 'Fish']

**Append an item to your list (again, can be a string, number)**

In [7]:
list1.append("appended")
print(list1)
print(type(list1)) # Used to verify the variable type

[1, 'Fish', 2, 'Fish', 'appended', 'appended', 'appended']
<class 'list'>

**Create a tuple with 4 items (can be strings, numbers, both)**

In [11]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)
print(type(my_tuple)) # Used to verify the variable type

(1, 2, 3, 4)
<class 'tuple'>