# Cleaning and Transforming Data

In [233]:
# importing initial libraries
import numpy as np
import pandas as pd

In [234]:
# loading data to df
df = pd.read_csv('Data/candyhierarchy2017.csv',encoding = "ISO-8859-1")

In [235]:
df2 = pd.read_excel('Data/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')

In [236]:
# viewing first 5 rows 
df.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [237]:
# viewing first 5 rows of second dataframe 
df2.head(5)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

**Note**: You must select at least two methods from each chapter to perform on one of the datasets. You are welcome to do more methods and you do not have to use the same dataset for all 8 methods.

- ## Chapter 7
    - Filter out missing data
    - Fill in missing data
    - Remove duplicates
    - Transform data using mapping or a function
    - Replace values
    - Discretinaizing and binning
    - Manipulate strings

For the two tasks requried of Chapter 7, I've chosen to work specifically with the 'Age' column, I'll start with reviewing the unique data.

In [238]:
# printing the columns in the dataframe
for col in df.columns:
    print(col)

Internal ID
Q1: GOING OUT?
Q2: GENDER
Q3: AGE
Q4: COUNTRY
Q5: STATE, PROVINCE, COUNTY, ETC
Q6 | 100 Grand Bar
Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes)
Q6 | Any full-sized candy bar
Q6 | Black Jacks
Q6 | Bonkers (the candy)
Q6 | Bonkers (the board game)
Q6 | Bottle Caps
Q6 | Box'o'Raisins
Q6 | Broken glow stick
Q6 | Butterfinger
Q6 | Cadbury Creme Eggs
Q6 | Candy Corn
Q6 | Candy that is clearly just the stuff given out for free at restaurants
Q6 | Caramellos
Q6 | Cash, or other forms of legal tender
Q6 | Chardonnay
Q6 | Chick-o-Sticks (we donÕt know what that is)
Q6 | Chiclets
Q6 | Coffee Crisp
Q6 | Creepy Religious comics/Chick Tracts
Q6 | Dental paraphenalia
Q6 | Dots
Q6 | Dove Bars
Q6 | Fuzzy Peaches
Q6 | Generic Brand Acetaminophen
Q6 | Glow sticks
Q6 | Goo Goo Clusters
Q6 | Good N' Plenty
Q6 | Gum from baseball cards
Q6 | Gummy Bears straight up
Q6 | Hard Candy
Q6 | Healthy Fruit
Q6 | Heath Bar
Q6 | Hershey's Dark Chocolate
Q6 | HersheyÕs Milk Chocolate
Q6 | Hershey's Kisses
Q6 | Hugs (actual physical hugs)
Q6 | Jolly Rancher (bad flavor)
Q6 | Jolly Ranchers (good flavor)
Q6 | JoyJoy (Mit Iodine!)
Q6 | Junior Mints
Q6 | Senior Mints
Q6 | Kale smoothie
Q6 | Kinder Happy Hippo
Q6 | Kit Kat
Q6 | LaffyTaffy
Q6 | LemonHeads
Q6 | Licorice (not black)
Q6 | Licorice (yes black)
Q6 | Lindt Truffle
Q6 | Lollipops
Q6 | Mars
Q6 | Maynards
Q6 | Mike and Ike
Q6 | Milk Duds
Q6 | Milky Way
Q6 | Regular M&Ms
Q6 | Peanut M&MÕs
Q6 | Blue M&M's
Q6 | Red M&M's
Q6 | Green Party M&M's
Q6 | Independent M&M's
Q6 | Abstained from M&M'ing.
Q6 | Minibags of chips
Q6 | Mint Kisses
Q6 | Mint Juleps
Q6 | Mr. Goodbar
Q6 | Necco Wafers
Q6 | Nerds
Q6 | Nestle Crunch
Q6 | Now'n'Laters
Q6 | Peeps
Q6 | Pencils
Q6 | Pixy Stix
Q6 | Real Housewives of Orange County Season 9 Blue-Ray
Q6 | ReeseÕs Peanut Butter Cups
Q6 | Reese's Pieces
Q6 | Reggie Jackson Bar
Q6 | Rolos
Q6 | Sandwich-sized bags filled with BooBerry Crunch
Q6 | Skittles
Q6 | Smarties (American)
Q6 | Smarties (Commonwealth)
Q6 | Snickers
Q6 | Sourpatch Kids (i.e. abominations of nature)
Q6 | Spotted Dick
Q6 | Starburst
Q6 | Sweet Tarts
Q6 | Swedish Fish
Q6 | Sweetums (a friend to diabetes)
Q6 | Take 5
Q6 | Tic Tacs
Q6 | Those odd marshmallow circus peanut things
Q6 | Three Musketeers
Q6 | Tolberone something or other
Q6 | Trail Mix
Q6 | Twix
Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein
Q6 | Vicodin
Q6 | Whatchamacallit Bars
Q6 | White Bread
Q6 | Whole Wheat anything
Q6 | York Peppermint Patties
Q7: JOY OTHER
Q8: DESPAIR OTHER
Q9: OTHER COMMENTS
Q10: DRESS
Unnamed: 113
Q11: DAY
Q12: MEDIA [Daily Dish]
Q12: MEDIA [Science]
Q12: MEDIA [ESPN]
Q12: MEDIA [Yahoo]
Click Coordinates (x, y)

In [239]:
# reviewing the unique values of the 'Age' column
df['Q3: AGE'].unique()

array([nan, '44', '49', '40', '23', '53', '33', '43', '56', '64', '37',
       '59', '48', '54', '36', '45', '25', '34', '35', '38', '58', '50',
       '47', '16', '52', '63', '65', '41', '27', '31', '61', '46', '42',
       '62', '29', '39', '32', '28', '69', '67', '30', '22', '26', '51',
       '70', '24', '18', '19', 'Old enough', '57', '60', '66', '12',
       'Many', '55', '72', '?', '21', '11', 'no', '9', '68', '20', '6',
       '10', '71', '90', '13', '45-55', '312', '99', '7', 'hahahahaha',
       '88', '39.4', '74', '102', 'older than dirt', '17', '15', '8',
       '75', '5u', 'Enough', 'See question 2', '24-50', '14', 'Over 50',
       '100', '76', '1000', 'sixty-nine', '46 Halloweens.', 'ancient',
       '77', 'OLD', 'old', '73', '70 1/2', '1', 'MY NAME JEFF', '4',
       '59 on the day after Halloween', 'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

**1. Transforming data using the to_numeric() function**

In [240]:
# converting the age aolumn to numeric and forcing the values that cannot be converted to change to NaN values
df['Q3: AGE'] = pd.to_numeric(df['Q3: AGE'], errors = 'coerce')

In [241]:
# checking that there are only numeric values remaining and NaN
df['Q3: AGE'].unique()

array([   nan,   44. ,   49. ,   40. ,   23. ,   53. ,   33. ,   43. ,
         56. ,   64. ,   37. ,   59. ,   48. ,   54. ,   36. ,   45. ,
         25. ,   34. ,   35. ,   38. ,   58. ,   50. ,   47. ,   16. ,
         52. ,   63. ,   65. ,   41. ,   27. ,   31. ,   61. ,   46. ,
         42. ,   62. ,   29. ,   39. ,   32. ,   28. ,   69. ,   67. ,
         30. ,   22. ,   26. ,   51. ,   70. ,   24. ,   18. ,   19. ,
         57. ,   60. ,   66. ,   12. ,   55. ,   72. ,   21. ,   11. ,
          9. ,   68. ,   20. ,    6. ,   10. ,   71. ,   90. ,   13. ,
        312. ,   99. ,    7. ,   88. ,   39.4,   74. ,  102. ,   17. ,
         15. ,    8. ,   75. ,   14. ,  100. ,   76. , 1000. ,   77. ,
         73. ,    1. ,    4. ])

**2. Replacing missing / NaN values**

In [242]:
# replacing NaN values with the median value of the column
df['Q3: AGE'] = df['Q3: AGE'].fillna(df['Q3: AGE'].median())

In [243]:
# checking if there are any remaining NaN values in the 'Age' column
df['Q3: AGE'].isnull().values.any()

False

In [244]:
# dropping NaN values from the 'Country' column 
df.dropna(subset = ['Q4: COUNTRY'], inplace = True)

In [245]:
# viewing the first 5 rows
df.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44.0,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49.0,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40.0,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23.0,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
6,90272853,No,Male,53.0,usa,Colorado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- ## Chapter 8
    - Create hierarchical index
    - Combine and Merge Datasets
    - Reshape
    - Pivot the data

For the first task associated with Chapter 8, I will use hierarichal indexing on a group/list of columns.

In [246]:
# viewing the list of all columns in the dataframe 
df.columns.tolist()

['Internal ID',
 'Q1: GOING OUT?',
 'Q2: GENDER',
 'Q3: AGE',
 'Q4: COUNTRY',
 'Q5: STATE, PROVINCE, COUNTY, ETC',
 'Q6 | 100 Grand Bar',
 'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
 'Q6 | Any full-sized candy bar',
 'Q6 | Black Jacks',
 'Q6 | Bonkers (the candy)',
 'Q6 | Bonkers (the board game)',
 'Q6 | Bottle Caps',
 "Q6 | Box'o'Raisins",
 'Q6 | Broken glow stick',
 'Q6 | Butterfinger',
 'Q6 | Cadbury Creme Eggs',
 'Q6 | Candy Corn',
 'Q6 | Candy that is clearly just the stuff given out for free at restaurants',
 'Q6 | Caramellos',
 'Q6 | Cash, or other forms of legal tender',
 'Q6 | Chardonnay',
 'Q6 | Chick-o-Sticks (we donÕt know what that is)',
 'Q6 | Chiclets',
 'Q6 | Coffee Crisp',
 'Q6 | Creepy Religious comics/Chick Tracts',
 'Q6 | Dental paraphenalia',
 'Q6 | Dots',
 'Q6 | Dove Bars',
 'Q6 | Fuzzy Peaches',
 'Q6 | Generic Brand Acetaminophen',
 'Q6 | Glow sticks',
 'Q6 | Goo Goo Clusters',
 "Q6 | Good N' Plenty",
 'Q6 | Gum from baseball cards',
 'Q6 | Gummy Bears straight up',
 'Q6 | Hard Candy',
 'Q6 | Healthy Fruit',
 'Q6 | Heath Bar',
 "Q6 | Hershey's Dark Chocolate",
 'Q6 | HersheyÕs Milk Chocolate',
 "Q6 | Hershey's Kisses",
 'Q6 | Hugs (actual physical hugs)',
 'Q6 | Jolly Rancher (bad flavor)',
 'Q6 | Jolly Ranchers (good flavor)',
 'Q6 | JoyJoy (Mit Iodine!)',
 'Q6 | Junior Mints',
 'Q6 | Senior Mints',
 'Q6 | Kale smoothie',
 'Q6 | Kinder Happy Hippo',
 'Q6 | Kit Kat',
 'Q6 | LaffyTaffy',
 'Q6 | LemonHeads',
 'Q6 | Licorice (not black)',
 'Q6 | Licorice (yes black)',
 'Q6 | Lindt Truffle',
 'Q6 | Lollipops',
 'Q6 | Mars',
 'Q6 | Maynards',
 'Q6 | Mike and Ike',
 'Q6 | Milk Duds',
 'Q6 | Milky Way',
 'Q6 | Regular M&Ms',
 'Q6 | Peanut M&MÕs',
 "Q6 | Blue M&M's",
 "Q6 | Red M&M's",
 "Q6 | Green Party M&M's",
 "Q6 | Independent M&M's",
 "Q6 | Abstained from M&M'ing.",
 'Q6 | Minibags of chips',
 'Q6 | Mint Kisses',
 'Q6 | Mint Juleps',
 'Q6 | Mr. Goodbar',
 'Q6 | Necco Wafers',
 'Q6 | Nerds',
 'Q6 | Nestle Crunch',
 "Q6 | Now'n'Laters",
 'Q6 | Peeps',
 'Q6 | Pencils',
 'Q6 | Pixy Stix',
 'Q6 | Real Housewives of Orange County Season 9 Blue-Ray',
 'Q6 | ReeseÕs Peanut Butter Cups',
 "Q6 | Reese's Pieces",
 'Q6 | Reggie Jackson Bar',
 'Q6 | Rolos',
 'Q6 | Sandwich-sized bags filled with BooBerry Crunch',
 'Q6 | Skittles',
 'Q6 | Smarties (American)',
 'Q6 | Smarties (Commonwealth)',
 'Q6 | Snickers',
 'Q6 | Sourpatch Kids (i.e. abominations of nature)',
 'Q6 | Spotted Dick',
 'Q6 | Starburst',
 'Q6 | Sweet Tarts',
 'Q6 | Swedish Fish',
 'Q6 | Sweetums (a friend to diabetes)',
 'Q6 | Take 5',
 'Q6 | Tic Tacs',
 'Q6 | Those odd marshmallow circus peanut things',
 'Q6 | Three Musketeers',
 'Q6 | Tolberone something or other',
 'Q6 | Trail Mix',
 'Q6 | Twix',
 'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein',
 'Q6 | Vicodin',
 'Q6 | Whatchamacallit Bars',
 'Q6 | White Bread',
 'Q6 | Whole Wheat anything',
 'Q6 | York Peppermint Patties',
 'Q7: JOY OTHER',
 'Q8: DESPAIR OTHER',
 'Q9: OTHER COMMENTS',
 'Q10: DRESS',
 'Unnamed: 113',
 'Q11: DAY',
 'Q12: MEDIA [Daily Dish]',
 'Q12: MEDIA [Science]',
 'Q12: MEDIA [ESPN]',
 'Q12: MEDIA [Yahoo]',
 'Click Coordinates (x, y)']

**1. Using hierarical indexing**

In [247]:
# creating a new dataframe with hierarical indexing
hier_ind = df.set_index(['Q4: COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC'])

In [248]:
# sorting the dataframe using the new hierarical indexing
hier_ind.sort_index().head(5)

,,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",,,,,,,,,,,,,,,,,,,,,
'merica,Merlin,90275672,Yes,Male,9.0,JOY,DESPAIR,JOY,MEH,MEH,DESPAIR,...,Twizzlers. Dramamine.,NaN,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(71, 32)"
1,1,90288589,Yes,Other,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Texas,90276056,No,Male,41.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Colorado,90273290,No,Female,41.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Issaquah, WA, King County",90275804,Yes,Female,41.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**2. Reshaping the dataframe**

In [249]:
# reshape the dataframe using stack() method
hier_ind_stacked = hier_ind.stack()
hier_ind_stacked.head(20)

Q4: COUNTRY  Q5: STATE, PROVINCE, COUNTY, ETC
USA          NM                                Internal ID                                                                               90272821
                                               Q1: GOING OUT?                                                                                  No
                                               Q2: GENDER                                                                                    Male
                                               Q3: AGE                                                                                       44.0
                                               Q6 | 100 Grand Bar                                                                             MEH
                                               Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)     DESPAIR
                                               Q6 | Any full-sized candy bar                                                                  JOY
                                               Q6 | Black Jacks                                                                               MEH
                                               Q6 | Bonkers (the candy)                                                                   DESPAIR
                                               Q6 | Bonkers (the board game)                                                              DESPAIR
                                               Q6 | Bottle Caps                                                                           DESPAIR
                                               Q6 | Box'o'Raisins                                                                         DESPAIR
                                               Q6 | Broken glow stick                                                                     DESPAIR
                                               Q6 | Butterfinger                                                                          DESPAIR
                                               Q6 | Cadbury Creme Eggs                                                                        MEH
                                               Q6 | Candy Corn                                                                                MEH
                                               Q6 | Candy that is clearly just the stuff given out for free at restaurants                DESPAIR
                                               Q6 | Caramellos                                                                                MEH
                                               Q6 | Cash, or other forms of legal tender                                                      JOY
                                               Q6 | Chardonnay                                                                                MEH
dtype: object

With a litte more cleaning of the dataframe, I could see how this could be realy useful.

- ### Chapter 10
    - Grouping with Dicts/Series
    - Grouping with Functions
    - Grouping with Index Levels
    - Split/Apply/Combine
    - Cross Tabs

**For the tasks required of chapter 10, I will first explore using grouping with index levels.**

In [250]:
# reviewing the first 5 rows 
df.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44.0,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49.0,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40.0,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23.0,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
6,90272853,No,Male,53.0,usa,Colorado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**1. Grouping with Index Levels**

In [251]:
# using the previously created dataframe, with the groupby() function and level parameter
hier_ind.groupby(level=[0]).sum()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q4: COUNTRY,,,,,,,,,,,,,,,,,,,,,
'merica,90275672,Yes,Male,9.0,JOY,DESPAIR,JOY,MEH,MEH,DESPAIR,...,Twizzlers. Dramamine.,0,White and gold,0,Sunday,0.0,1.0,0.0,0.0,"(71, 32)"
1,90288589,Yes,Other,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
32,90276056,No,Male,41.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
35,90273290,No,Female,41.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
45,90275804,Yes,Female,41.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
united states of america,451406009,NoNoNoNoNo,FemaleMaleMaleMaleFemale,213.0,JOYMEHJOYMEH,DESPAIRDESPAIRMEHDESPAIR,JOYJOYJOYJOY,DESPAIRDESPAIR,MEHMEHMEH,DESPAIRMEH,...,"MilkywayPalmer-brand Halloween Chocolates, Gen...",Awesome list...but where is Merlot!!!,White and goldWhite and goldBlue and blackWhit...,0,FridayFridayFridayFriday,0.0,4.0,0.0,0.0,"(67, 33)(75, 28)(67, 38)(60, 31)"
united ststes,90288455,No,Female,44.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
us,3611212189,NoNoNoYesNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,MaleMaleFemaleFemaleMaleFemaleFemaleFemaleMale...,1803.0,MEHJOYJOYJOYMEHJOYJOYJOYMEHMEHMEHJOYJOYJOYJOYM...,DESPAIRJOYDESPAIRDESPAIRMEHJOYMEHDESPAIRMEHJOY...,JOYJOYJOYJOYMEHJOYJOYMEHJOYJOYMEHJOYJOYJOYJOYJ...,MEHJOYDESPAIRDESPAIRMEHMEHMEHDESPAIRMEHJOYDESP...,MEHDESPAIRDESPAIRDESPAIRMEHMEHJOYDESPAIRDESPAI...,DESPAIRDESPAIRDESPAIRDESPAIRDESPAIRMEHDESPAIRD...,...,a Lecture on being good kidpennies. pennies. ...,Raisins can go to hellSome parents try so hard...,White and goldBlue and blackWhite and goldBlue...,0,SundaySundaySundayFridaySundaySundayFridayFrid...,2.0,13.0,1.0,0.0,"(75, 23)(68, 31)(61, 3)(59, 19)(25, 23)(29, 61..."
usa,19591013602,NoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoYesNoNoNo...,MaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMale...,9620.0,JOYJOYMEHJOYMEHJOYJOYJOYJOYJOYJOYJOYJOYJOYJOYM...,DESPAIRDESPAIRDESPAIRDESPAIRDESPAIRDESPAIRDESP...,JOYJOYMEHJOYJOYJOYJOYJOYMEHJOYJOYJOYJOYJOYJOYJ...,DESPAIRDESPAIRDESPAIRDESPAIRMEHDESPAIRDESPAIRM...,MEHDESPAIRDESPAIRMEHMEHDESPAIRMEHMEHDESPAIRMEH...,DESPAIRMEHDESPAIRMEHMEHMEHMEHJOYMEHMEHMEHMEHME...,...,"Donuts, cupcakes, 5-tier custom backed Bride o...",IÕve always found it interesting but corny tha...,White and goldWhite and goldWhite and goldWhit...,dress (https://survey.ubc.ca/media/assets/user...,FridaySundaySundaySundayFridaySundayFridayFrid...,5.0,123.0,9.0,7.0,"(70, 10)(76, 13)(80, 15)(66, 44)(78, 23)(69, 2..."
usas,90275719,No,I'd rather not say,67.0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0

**2. Using the crosstab() function to group**

In [252]:
# create a crosstab table of gender and education level
ct = pd.crosstab(df['Q1: GOING OUT?'], df['Q2: GENDER'])
print(ct)

Q2: GENDER      Female  I'd rather not say  Male  Other
Q1: GOING OUT?
No                 708                  60  1207     25
Yes                113                   8   180      4

I can immediatley see how the crosstab() function can be very powerful when analyzing the dataframe categorical columns.

- ## Chapter 11
    - Convert between string and date time
    - Generate date range
    - Frequencies and date offsets
    - Convert timestamps to periods and back
    - Period Frequency conversions

In [253]:
# importing additional tools 
from datetime import datetime

In [254]:
# reviewing the dataframe
df2.head(1)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN

**1. Timestamp to period**

In [255]:
# converting the 'Timestamp' column to the timestamp type
df2['Timestamp'] = pd.to_datetime(df2['Timestamp'])

In [256]:
# creating a new column in the dataframe that consists of the period from timestamp
df2['Period'] = df2['Timestamp'].dt.to_period('M')

In [257]:
# using .pop() to remove the column from the end and save it to a variable
col = df2.pop('Period')
# re-insert the column to index 1
df2.insert(1, col.name, col)

In [258]:
# reviewing the new dataframe
df2.head(1)

,Timestamp,Period,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,2016-10,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN

**2. Converting timestamp to string**

In [259]:
# convert the 'timestamp' column to the timestamp data type
df2['Timestamp'] = pd.to_datetime(df2['Timestamp'])

In [260]:
# create a new column 'date' that is a string of the date potion of the timestamp column
df2['date'] = df2['Timestamp'].dt.strftime('%Y-%m-%d')

In [261]:
# create a new column 'time' that is a string of the time portion of the timestamp column
df2['time'] = df2['Timestamp'].dt.strftime('%H:%M:%S')

In [262]:
# checking the values in the new 'date' column
df2['date']

0       2016-10-24
1       2016-10-24
2       2016-10-24
3       2016-10-24
4       2016-10-24
           ...
1254    2016-10-29
1255    2016-10-30
1256    2016-10-30
1257    2016-10-30
1258    2016-10-30
Name: date, Length: 1259, dtype: object

In [263]:
# checking the values in the new 'time' column
df2['time']

0       05:09:23
1       05:09:54
2       05:13:06
3       05:14:17
4       05:14:24
          ...
1254    16:53:52
1255    06:53:54
1256    11:06:10
1257    16:07:26
1258    17:06:45
Name: time, Length: 1259, dtype: object

In [264]:
# revinf the data in the dataframe now
df2.head(1)

,Timestamp,Period,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,date,time
0,2016-10-24 05:09:23.033,2016-10,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,2016-10-24,05:09:23

I decided to separate the date and time since I usually find it usefull to have them separated for analysis later on