# Week 3 Assignment

## Part 1: Using the TextBlob Sentiment Analyzer

**Loading Required Libraries**

In [92]:
import numpy as np
import pandas as pd

In [93]:
from textblob import TextBlob

**Import Data**

In [94]:
unlabeled_df = pd.read_csv("unlabeledTrainData.tsv", sep='\t', on_bad_lines='warn')

b'Skipping line 43043: expected 2 fields, saw 3\n'

In [95]:
test_df = pd.read_csv('testData.tsv', sep= '\t')

In [96]:
labeled_df = pd.read_csv("labeledTrainData.tsv", sep= "\t")

**Viewing First 5 Rows of DataFrames**

In [97]:
unlabeled_df.head(5)

        id                                             review
0   9999_0  Watching Time Chasers, it obvious that it was ...
1  45057_0  I saw this film about 20 years ago and remembe...
2  15561_0  Minor Spoilers<br /><br />In New York, Joan Ba...
3   7161_0  I went to see this film with a great deal of e...
4  43971_0  Yes, I agree with everyone on this site this m...

In [98]:
test_df.head(5)

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [99]:
labeled_df.head(5)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

**How many of each positive and negative reviews are there?**

In [100]:
positive = labeled_df['sentiment'].value_counts()
positive

1    12500
0    12500
Name: sentiment, dtype: int64

**Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment.**

In [101]:
# To better understand TextBlob and the values it returns I need some hands on experimentation
text = "I hate this" # not a factual statement
# using the index of the returned tuple allows access to the value
TextBlob(text).sentiment[0]

-0.8

In [102]:
# create a function to calcuate the sentiment using TexBlob and return a string 
def sentiment_calc(text):  
    try:
        # access the polarity of the returned tuple and compare to zero
        if TextBlob(text).sentiment[0] >= 0: 
            return "Positive"
        else:
            return "Negative"
        
    except:
        return None

# applying the function to all rows in the 'review' column
test_df['sentiment'] = test_df['review'].apply(sentiment_calc)

In [103]:
# create a function to calcuate the sentiment using TexBlob and return a number
def sentiment_calc_value(text): 
    try:
        # access the polarity of the returned tuple and compare to zero
        if TextBlob(text).sentiment[0] >= 0: # access the polarity of the returned tuple and compare to zero
            return 1
        else:
            return 0
        
    except:
        return None
# applying the function to all rows in the 'review' column
test_df['sentiment_value'] = test_df['review'].apply(sentiment_calc_value)

In [104]:
# viewing the first 20 rows
test_df.head(20)

,id,review,sentiment,sentiment_value
0,12311_10,Naturally in a film who's main themes are of m...,Positive,1
1,8348_2,This movie is a disaster within a disaster fil...,Positive,1
2,5828_4,"All in all, this is a movie for kids. We saw i...",Positive,1
3,7186_2,Afraid of the Dark left me with the impression...,Negative,0
4,12128_7,A very accurate depiction of small time mob li...,Positive,1
5,2913_8,"...as valuable as King Tut's tomb! (OK, maybe ...",Positive,1
6,4396_1,This has to be one of the biggest misfires eve...,Positive,1
7,395_2,"This is one of those movies I watched, and won...",Positive,1
8,10616_1,The worst movie i've seen in years (and i've s...,Negative,0
9,9074_9,"Five medical students (Kevin Bacon, David Labr...",Positive,1
10,9252_3,'The Mill on the Floss' was one of the lesser ...,Positive,1
11,9896_9,I just saw this film at the phoenix film festi...,Positive,1
12,574_4,"\The Love Letter\"" is one of those movies that...",Positive,1
13,11182_8,Another fantastic offering from the Monkey Isl...,Positive,1
14,11656_4,This was included on the disk \Shorts: Volume ...,Positive,1
15,2322_4,I'm not really much of an Abbott & Costello fa...,Positive,1
16,8703_1,This movie was dreadful. Biblically very inacc...,Positive,1
17,7483_1,I don't think I've ever gave something a 1/10 ...,Negative,0
18,6007_10,Excellent story-telling and cinematography. Po...,Positive,1
19,12424_4,I completely forgot that I'd seen this within ...,Positive,1

**Check the accuracy of this model. Is this model better than random guessing?**

In [105]:
# import additional libraries and methods
from sklearn.metrics import accuracy_score

In [106]:
# using the "accuracy_score" method to calcualte the models accuracy. 
accuracy = accuracy_score(labeled_df["sentiment"],test_df["sentiment_value"]) 
# multiply by 100 to get a percentage
accuracy = accuracy * 100 
# printing the output
print(f"The accuracy of the model is {accuracy:.2f}%")

The accuracy of the model is 50.24%

## Part 2: Prepping Text for a Custom Model

**Convert All Text to Lowercase Letters.**

In [107]:
# using apply and a lambda to apply the lower() function to all rows in the test dataframe 
test_df['review'] = test_df['review'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [108]:
# viewing first 10 rows of dataframe
test_df.head(10)

,id,review,sentiment,sentiment_value
0,12311_10,naturally in a film who's main themes are of m...,Positive,1
1,8348_2,this movie is a disaster within a disaster fil...,Positive,1
2,5828_4,"all in all, this is a movie for kids. we saw i...",Positive,1
3,7186_2,afraid of the dark left me with the impression...,Negative,0
4,12128_7,a very accurate depiction of small time mob li...,Positive,1
5,2913_8,"...as valuable as king tut's tomb! (ok, maybe ...",Positive,1
6,4396_1,this has to be one of the biggest misfires eve...,Positive,1
7,395_2,"this is one of those movies i watched, and won...",Positive,1
8,10616_1,the worst movie i've seen in years (and i've s...,Negative,0
9,9074_9,"five medical students (kevin bacon, david labr...",Positive,1

In [109]:
# using .iloc to view a single value of a row in the 'review' column
test_df.iloc[0,1]

"naturally in a film who's main themes are of mortality, nostalgia, and loss of innocence it is perhaps not surprising that it is rated more highly by older viewers than younger ones. however there is a craftsmanship and completeness to the film which anyone can enjoy. the pace is steady and constant, the characters full and engaging, the relationships and interactions natural showing that you do not need floods of tears to show emotion, screams to show fear, shouting to show dispute or violence to show anger. naturally joyce's short story lends the film a ready made structure as perfect as a polished diamond, but the small changes huston makes such as the inclusion of the poem fit in neatly. it is truly a masterpiece of tact, subtlety and overwhelming beauty."

**Remove Punctuation and Special Characters From the Text.**

In [110]:
test_df['review'] = test_df['review'].apply(lambda x: ''.join(char for char in x if char.isalnum() or char.isspace()))
# .isalnum() function checks to see if the values in the string are alphanumeric
# .ispace() function checks the string for white space values and returns true if "\n, \t, \r, \v," are found
# .join() function joins empty sting in place of the removed characters

In [111]:
# using .iloc to view the results of the changed dataframe for a single value of a row in the 'review' column
test_df.iloc[0,1]

'naturally in a film whos main themes are of mortality nostalgia and loss of innocence it is perhaps not surprising that it is rated more highly by older viewers than younger ones however there is a craftsmanship and completeness to the film which anyone can enjoy the pace is steady and constant the characters full and engaging the relationships and interactions natural showing that you do not need floods of tears to show emotion screams to show fear shouting to show dispute or violence to show anger naturally joyces short story lends the film a ready made structure as perfect as a polished diamond but the small changes huston makes such as the inclusion of the poem fit in neatly it is truly a masterpiece of tact subtlety and overwhelming beauty'

**Remove Stop Words.**

In [112]:
# importing additional required libraries 
import nltk
from nltk.corpus import stopwords

In [113]:
# download list of stopwords
nltk.download('stopwords')
# view list of english stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rbrio\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [114]:
# sets the english stopwards list to the variable 'stop_words'
stop_words = stopwords.words('english')

# removes the stop words from the review strings
test_df['review'] = test_df['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [115]:
test_df.head(10)

,id,review,sentiment,sentiment_value
0,12311_10,naturally film whos main themes mortality nost...,Positive,1
1,8348_2,movie disaster within disaster film full great...,Positive,1
2,5828_4,movie kids saw tonight child loved one point k...,Positive,1
3,7186_2,afraid dark left impression several different ...,Negative,0
4,12128_7,accurate depiction small time mob life filmed ...,Positive,1
5,2913_8,valuable king tuts tomb ok maybe valuable wort...,Positive,1
6,4396_1,one biggest misfires everthe script nice could...,Positive,1
7,395_2,one movies watched wondered watch find interes...,Positive,1
8,10616_1,worst movie ive seen years ive seen lot movies...,Negative,0
9,9074_9,five medical students kevin bacon david labrac...,Positive,1

In [116]:
# viewing the row data for my own review
test_df.iloc[0,1]

'naturally film whos main themes mortality nostalgia loss innocence perhaps surprising rated highly older viewers younger ones however craftsmanship completeness film anyone enjoy pace steady constant characters full engaging relationships interactions natural showing need floods tears show emotion screams show fear shouting show dispute violence show anger naturally joyces short story lends film ready made structure perfect polished diamond small changes huston makes inclusion poem fit neatly truly masterpiece tact subtlety overwhelming beauty'

**Apply NLTK’s PorterStemmer.**

In [117]:
# load additional required modules
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from functools import reduce

In [118]:
# initializing porter_stemmer variable with the PorterStemmer() function
porter_stemmer = PorterStemmer()

In [119]:
# creating a tokenized_sentence column
test_df['tokenized_sentence'] = test_df.apply(lambda row: nltk.word_tokenize(row['review']), axis=1)
# creating a stem column
test_df['stem'] = test_df['tokenized_sentence'].apply(lambda x : [porter_stemmer.stem(y) for y in x])

In [120]:
test_df.head(5)

,id,review,sentiment,sentiment_value,tokenized_sentence,stem
0,12311_10,naturally film whos main themes mortality nost...,Positive,1,"[naturally, film, whos, main, themes, mortalit...","[natur, film, who, main, theme, mortal, nostal..."
1,8348_2,movie disaster within disaster film full great...,Positive,1,"[movie, disaster, within, disaster, film, full...","[movi, disast, within, disast, film, full, gre..."
2,5828_4,movie kids saw tonight child loved one point k...,Positive,1,"[movie, kids, saw, tonight, child, loved, one,...","[movi, kid, saw, tonight, child, love, one, po..."
3,7186_2,afraid dark left impression several different ...,Negative,0,"[afraid, dark, left, impression, several, diff...","[afraid, dark, left, impress, sever, differ, s..."
4,12128_7,accurate depiction small time mob life filmed ...,Positive,1,"[accurate, depiction, small, time, mob, life, ...","[accur, depict, small, time, mob, life, film, ..."

**Create a bag-of-words matrix from your stemmed text (output from (4)), where each row is a word-count vector for a single movie review (see sections 5.3 & 6.8 in the Machine Learning with Python Cookbook). Display the dimensions of your bag-of-words matrix. The number of rows in this matrix should be the same as the number of rows in your original data frame.**

In [121]:
# importing additonal required libraries and methods
from sklearn.feature_extraction import DictVectorizer

In [122]:
# initialize the variable dictvectorizer with the function DictVectorizer()
dictvectorizer = DictVectorizer(sparse=False)

In [123]:
# creating a stemmed words dataframe to use the index as a key and row contents as the value for the dictionary
stemmed_words = test_df[['stem']]

In [124]:
# viewing dataframe
stemmed_words.head(5)

                                                stem
0  [natur, film, who, main, theme, mortal, nostal...
1  [movi, disast, within, disast, film, full, gre...
2  [movi, kid, saw, tonight, child, love, one, po...
3  [afraid, dark, left, impress, sever, differ, s...
4  [accur, depict, small, time, mob, life, film, ...

In [125]:
# converting the dataframe to a dictionary by rows
stemmed_words_dict = stemmed_words.to_dict('records')

In [126]:
# I am not 100% sure why this returned a list instead of a dictionary
type(stemmed_words_dict)

list

In [127]:
# Converts dictionary to feature matrix
features = dictvectorizer.fit_transform(stemmed_words_dict)

In [128]:
# checking type of variable 'features'
type(features)

numpy.ndarray

In [129]:
features

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

The number of rows in the bag of words matrix matches the number of rows in the test data frame

In [138]:
# viewing the dimension of the bag of words matrix
len(features)

25000

**Create a term frequency-inverse document frequency (tf-idf) matrix from your stemmed text, for your movie reviews (see section 6.9 in the Machine Learning with Python Cookbook). Display the dimensions of your tf-idf matrix. These dimensions should be the same as your bag-of-words matrix.**

In [130]:
# importing additonal required libraries and methods
from sklearn.feature_extraction.text import CountVectorizer

In [131]:
stem = np.array(test_df['stem'])

In [136]:
# checking type of the variable 'stem'
type(stem)

numpy.ndarray

In [132]:
# initializing vectorizer variable with the CountVector() method 
# using the analyzer parameter to work with the list 
vectorizer = CountVectorizer(analyzer=lambda x: x) 
bag_of_words = vectorizer.fit(stem)

In [133]:
# checking the number of rows of the original dataframe to verify the bag_of_words rows match
test_df.shape

(25000, 6)

In [134]:
bag_of_words = vectorizer.transform(stem)

In [135]:
# viewing the dimension of the tf-idf matrix
bag_of_words

<25000x90673 sparse matrix of type '<class 'numpy.int64'>'
	with 2398689 stored elements in Compressed Sparse Row format>

The number of rows in the tf-idf matrix matches the number of rows in the test data frame.

The book was followed iniatally for the last two parts of the assignment but I was having a few issues trying to translate the examples from the book to the dataframes for the assignment.