# Week 1 Assignment

In [3]:
import numpy as np
import pandas as pd
# importing required libraries

**Load the dataset as a Pandas data frame.**

In [4]:
dataframe = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv")
# loading csv and saving to pandas dataframe

**Display the first ten rows of data.**

In [5]:
dataframe.head(10)
# viewing first 10 rows of dataframe

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

**Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?**

In [6]:
dataframe.shape
# using shape to see the dimensions of the dataframe

(16719, 16)

In the context of the data, the shape reveals the dimensions of the dataframe. The returned value (16719, 16) is equivalent to (rows, columns). The columns can be interpreted as different variables while the the rows can be interpreted as observations.

There are 16 columns and 16719 rows in the dataframe

**Find the top five games by critic score.**

In [7]:
dataframe.sort_values(by=["Critic_Score"],ascending=False).head(5)
# acsending by default is set to "True", set to "False" to get the higher critic score to the top

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

**Find the number of video games in the data frame in each genre.**

In [8]:
dataframe['Genre'].unique() 
# reviewing the unique values of 'Genre'

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [9]:
dataframe['Genre'].value_counts()
# using value_counts() to count the number of games for each genre

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

My initial thought on this was to use a conditional statement to try and get the answer, luckily I recalled the .value_counts() function.

**Find the first five games in the data frame on the SNES platform.**

In [10]:
dataframe['Platform'].unique()
# reviewing the unique values of 'Platform' for my own curiosity

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [11]:
dataframe[(dataframe['Platform'] == "SNES")].head(5)
# filtering the dataframe by platorm 'SNES' and viewing the first 5 rows

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

**Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.**

In [12]:
dataframe['Publisher'].unique()
# reviewing the unique values of 'Publisher' for my own curiosity

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment', 'Square Enix',
       'Sony Computer Entertainment Europe', 'Virgin Interactive',
       'LucasArts', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       nan, 'Codemasters', 'Majesco Entertainment', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       'NCSoft', '989 Studios', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'ASCII Entertainment', 'Valve Software',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Banpresto', 'Hello Games', 'D3Publisher', 'Activision Value',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Global Star', 'Gotham Games', 'Westwood Studios', 'GungHo',
       'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'TDK Mediactive', 'ASC Games', 'Accolade',
       'Zoo Games', 'Sony Online Entertainment', '3DO', 'Natsume', 'RTL',
       'Alchemist', 'Black Label Games', 'SouthPeak Games',
       'Focus Home Interactive', 'Ocean', 'Zoo Digital Publishing',
       'Psygnosis', 'City Interactive', 'Empire Interactive', 'Success',
       'Compile', 'Russel', 'Atlus', 'Mastertronic',
       'Slightly Mad Studios', 'Taito', 'Agetec', 'Microprose', 'Play It',
       'GSP', 'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'Square Enix ', 'mixi, Inc', 'Pinnacle', 'SCi', 'Quelle',
       'Rage Software', 'Ubisoft Annecy', 'Interplay', 'Scholastic Inc.',
       'Mystique', 'ChunSoft', 'Square EA',
       '20th Century Fox Video Games', 'Hudson Entertainment',
       'Men-A-Vision', 'Nobilis', 'Avanquest Software',
       'Big Ben Interactive', 'Nordic Games', 'Touchstone', 'Spike',
       'Nippon Ichi Software', 'Sony Computer Entertainment America',
       'Jester Interactive', 'LEGO Media', 'Quest', 'Illusion Softworks',
       'Tigervision', 'Rocket Company', 'Metro 3D', 'Mattel Interactive',
       'IE Institute', 'Funbox Media', 'Rondomedia', 'Universal Gamex',
       'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds',
       'Xseed Games', 'Laguna', 'Takara', 'Ignition Entertainment',
       'Kadokawa Shoten', 'Enterbrain', 'Imagineer', 'CPG Products',
       'System 3 Arcade Software', 'Aruze Corp', 'Destineer',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'Pack In Soft', 'XS Games', 'Rebellion',
       'Ultravision', 'Harmonix Music Systems', 'Activision Blizzard',
       'Xplosiv', 'Wanadoo', 'Telltale Games', 'NovaLogic', 'Epoch',
       'BAM! Entertainment', 'GameMill Entertainment',
       'Knowledge Adventure', 'Tetris Online', 'Mastiff', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Kemco', 'Mentor Interactive',
       'Human Entertainment', 'Data Age', 'Electronic Arts Victor',
       'Jack of All Games', 'Avanquest', 'Black Bean Games', '989 Sports',
       'Takara Tomy', 'Media Rings', 'Elf', 'Starfish', 'Zushi Games',
       'Jorudan', 'Destination Software, Inc', 'New',
       'Brash Entertainment', 'Kalypso Media', 'ITT Family Games',
       'Ackkstudios', 'PopCap Games', 'Starpath Corp.', 'BPS',
       'Gathering of Developers', 'NewKidCo', 'Marvelous Interactive',
       'Storm City Games', 'CokeM Interactive', 'P2 Games',
       'CBS Electronics', 'Home Entertainment Suppliers', 'Magix',
       'Arc System Works', 'Angel Studios', 'Wargaming.net', 'Playmates',
       'SNK Playmore', 'Hamster Corporation', 'From Software',
       'Nippon Columbia', 'Nichibutsu', 'Conspiracy Entertainment',
       'Hect', 'Mumbo Jumbo', 'DTP Entertainment',
       'Pacific Century Cyber Works', 'Indie Games', 'Liquid Games',
       'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Little Orbit', 'FuRyu',
       'Gust', 'SNK', 'NEC Interchannel', 'Nihon Falcom Corporation',
       'Xing Entertainment', 'ValuSoft', 'Victor Interactive',
       'American Softworks', 'Falcom Corporation', 'Detn8 Games', 'Bomb',
       'Nordcurrent', 'Milestone S.r.l.', 'AQ Interactive', 'Sears',
       'Seta Corporation', 'On Demand', 'CCP', 'NCS',
       'Rebellion Developments', 'Agatsuma Entertainment',
       'Gremlin Interactive Ltd', 'Aspyr', 'Compile Heart',
       'Culture Brain', 'Mad Catz', 'Shogakukan', 'Merscom LLC',
       'JoWood Productions', 'Nippon Telenet', 'TDK Core',
       'Kadokawa Games', 'SSI', 'Foreign Media Games', 'Core Design Ltd.',
       'bitComposer Games', 'Astragon', 'Asylum Entertainment',
       'Performance Designed Products', 'UFO Interactive',
       'Essential Games', 'Adeline Software', 'Funcom', 'PlayV',
       'Panther Software', 'Blast! Entertainment Ltd',
       'Playlogic Game Factory', 'DSI Games', 'Avalon Interactive',
       'Game Life', 'Popcorn Arcade', 'Aques', 'System 3', 'Syscom',
       'Vir2L Studios', 'Vatical Entertainment', 'Neko Entertainment',
       'White Park Bay Software', 'Vic Tokai', 'Media Factory',
       'Daedalic', 'Game Arts', 'The Adventure Company', 'EA Games',
       'Acquire', 'Broccoli', 'General Entertainment',
       'Paradox Interactive', 'Yacht Club Games', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Excalibur Publishing', 'Hip Interactive', 'Tripwire Interactive',
       'DreamCatcher Interactive', 'SCS Software', 'Havas Interactive',
       'Sting', 'Idea Factory', 'Telstar', 'U.S. Gold', 'Funsta',
       'DreamWorks Interactive', 'Slitherine Software', 'MTO', 'Graffiti',
       'Tru Blu Entertainment', 'DHM Interactive', 'Crytek', 'FunSoft',
       'Data Design Interactive', 'SPS', 'Moss', 'T&E Soft',
       'NDA Productions', 'Bigben Interactive', 'Data East',
       'Idea Factory International', 'Time Warner Interactive',
       'Gainax Network Systems', 'Daito', 'O3 Entertainment', 'O-Games',
       'Gameloft', 'Xicat Interactive', 'Simon & Schuster Interactive',
       'Valcon Games', 'PopTop Software', 'TOHO', 'PM Studios',
       'Bohemia Interactive', 'Reef Entertainment', '5pb',
       'HMH Interactive', 'inXile Entertainment', 'Cave', 'Microids',
       'Paon', 'CDV Software Entertainment', 'Micro Cabin', 'GameTek',
       'Benesse', 'Type-Moon', 'Enjoy Gaming ltd.', 'Asmik Corp',
       'Interplay Productions', 'Asmik Ace Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Griffin International', 'Culture Publishers', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Abylight', 'Mitsui', 'Insomniac Games', 'Flight-Plan',
       'Milestone', 'Glams', 'Aksys Games', 'Locus', 'Warp',
       'Irem Software Engineering', 'Myelin Media',
       'Global A Entertainment', 'Alternative Software', 'Mercury Games',
       'Sunrise Interactive', 'Elite', 'Evolution Games',
       'Daedalic Entertainment', 'Edia', 'Athena', 'Aria', 'Tivola',
       'Happinet', 'Tommo', 'Altron', 'Revolution Software',
       'Media Works', 'Fortyfive', 'Gamecock', 'Imax', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Crimson Cow', 'iWin', 'Asgard',
       'Ecole', 'Yumedia', 'Ascaron Entertainment GmbH', 'HAL Laboratory',
       'Phenomedia', 'Grand Prix Games', 'DigiCube', 'Creative Core',
       'Kaga Create', 'WayForward Technologies', 'LSP Games',
       'ASCII Media Works', '1C Company', 'Coconuts Japan', 'Arika',
       'Marvel Entertainment', 'Ertain', 'Prototype', 'Phantagram',
       'The Learning Company', 'TechnoSoft', 'MLB.com', 'Vap', 'Misawa',
       'Yeti', 'Dusenberry Martin Racing', 'Navarre Corp', 'Pow',
       'MediaQuest', 'Team17 Software', 'Max Five', 'Tradewest',
       'Comfort', 'Milestone S.r.l', 'Pony Canyon', 'Riverhillsoft',
       'Summitsoft', 'Playmore', 'Kool Kizz', 'Monte Christo Multimedia',
       'TopWare Interactive', 'Legacy Interactive',
       'Cloud Imperium Games Corporation', 'Flashpoint Games',
       'CyberFront', 'Alawar Entertainment', 'Societa', 'Interchannel',
       'Experience Inc.', 'Sonnet', 'Virtual Play Games', 'Zenrin',
       'Iceberg Interactive', 'Ivolgamus', 'MC2 Entertainment', '2D Boy',
       'Games Workshop', 'Kando Games', 'Office Create',
       'Maximum Family Games', 'Fields', 'Gearbox Software',
       'Princess Soft', 'Extreme Entertainment Group', 'Big Fish Games',
       'Berkeley', 'Mamba Games', 'Fuji', 'FuRyu Corporation',
       'Her Interactive', 'imageepoch Inc.', 'Just Flight', 'Kamui',
       'ASK', 'Cygames', 'Introversion Software', '49Games', 'KSS',
       'dramatic create', 'TGL', 'KID', 'Quinrose', 'Sold Out', 'Encore',
       'G.Rev', 'Sunflowers', 'Headup Games', 'Sweets',
       'Kokopeli Digital Studios', 'id Software', 'Nexon', 'BushiRoad',
       'Devolver Digital', 'Number None', 'Tryfirst', 'GN Software',
       "Yuke's", 'Strategy First', 'Lexicon Entertainment',
       'Paon Corporation', 'Kids Station', 'Licensed 4U', 'GOA',
       '7G//AMES', 'King Records', 'Minato Station',
       'Graphsim Entertainment', 'Easy Interactive', 'Gaga',
       'Yamasa Entertainment', 'Plenty', 'Views', 'Blue Byte', 'fonfun',
       'NetRevo', 'Epic Games', 'Quintet', 'Focus Multimedia',
       'Phoenix Games', 'Marvelous Games', 'Dorart', 'Codemasters Online',
       'Stainless Games', 'Aerosoft', 'Imageworks', 'Karin Entertainment',
       'Technos Japan Corporation', 'Masque Publishing', 'Gakken',
       'New World Computing', 'Mirai Shounen', 'Datam Polystar', 'HuneX',
       'Visco', 'Saurus', 'Revolution (Japan)', 'Giza10', 'Alvion',
       'Giga', 'Mycom', 'Warashi', 'System Soft', 'RED Entertainment',
       'Lighthouse Interactive', 'Michaelsoft', 'Media Entertainment',
       'Genterprise', 'Interworks Unlimited, Inc.', 'Inti Creates',
       'Boost On', 'EON Digital Entertainment', 'Nitroplus', 'Naxat Soft',
       'Piacci', 'Paradox Development', 'Otomate',
       'Ascaron Entertainment', 'Ongakukan', 'Commseed',
       'UIG Entertainment', 'Takuyo', 'Interchannel-Holon',
       'Red Flagship'], dtype=object)

In [25]:
dataframe.groupby(['Publisher'], sort=False)['Global_Sales'].sum().head(15)
# grouping by 'Publisher', sort=False sorts the values in descedning order of the total sum()

Publisher
Nintendo                        1788.81
Microsoft Game Studios           248.32
Take-Two Interactive             403.82
Sony Computer Entertainment      606.48
Activision                       731.16
Ubisoft                          471.61
Bethesda Softworks                85.05
Electronic Arts                 1116.96
Sega                             270.35
SquareSoft                        57.65
Atari                            156.83
505 Games                         55.32
Capcom                           200.02
GT Interactive                    25.23
Konami Digital Entertainment     282.39
Name: Global_Sales, dtype: float64

I had no idea there would be so many publishers of games, it would be interesting to see how the number of publishers has changed over time.

**Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.**

In [14]:
# dataframe['Percent_NA_Sales'] = dataframe['NA_Sales']/dataframe['Global_Sales']
# dataframe.head(5)

I decided to leave the existing dataframe as is and create a new dataframe (dataframe2) with the additional column.

In [15]:
x = dataframe['NA_Sales']/dataframe['Global_Sales']
# setting results to a variable 
dataframe2 = dataframe.assign(Percent_NA_Sales = x)
# assigning the variable a name and adding the column to the new data frame
dataframe2.head(5)
# viewing the first five rows of the data frame

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Percent_NA_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,0.501151
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,0.722664
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.441441
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,0.476350
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,0.359260

In [16]:
dataframe.head(5)
# verifiying the original dataframe does not have the new column

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

**Find the number NaN entries (missing data values) in each column.**

In [17]:
dataframe.isnull().sum(axis = 0)
# using isnull() to find the NaN values and .sum() to sum the total NaN by column

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

**Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.**

In [18]:
y = dataframe['User_Score'].replace('tbd', np.nan)
# saving the returned pandas series as a variable

In [19]:
y.unique()
# verifying that the string 'tbd' no longer is present

array(['8', nan, '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4',
       '8.2', '9', '7.9', '8.1', '8.7', '7.1', '3.4', '5.3', '4.8', '3.2',
       '8.9', '6.4', '7.8', '7.5', '2.6', '7.2', '9.2', '7', '7.3', '4.3',
       '7.6', '5.7', '5', '9.1', '6.5', '8.8', '6.9', '9.4', '6.8', '6.1',
       '6.7', '5.4', '4', '4.9', '4.5', '9.3', '6.2', '4.2', '6', '3.7',
       '4.1', '5.8', '5.6', '5.5', '4.4', '4.6', '5.9', '3.9', '3.1',
       '2.9', '5.2', '3.3', '4.7', '5.1', '3.5', '2.5', '1.9', '3', '2.7',
       '2.2', '2', '9.5', '2.1', '3.6', '2.8', '1.8', '3.8', '0', '1.6',
       '9.6', '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2', '2.3',
       '0.5', '1.3', '0.2', '0.6', '1.4', '0.9', '1', '9.7'], dtype=object)

In [20]:
dataframe = dataframe.assign(User_Score = y)
# assigning the pandas series 'y' as a new column (overwriting the existing) 'User_Score'
dataframe['User_Score'].unique()
# checking the unique values of 'User_Score' to be sure the string 'tbd' still does not exist

array(['8', nan, '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4',
       '8.2', '9', '7.9', '8.1', '8.7', '7.1', '3.4', '5.3', '4.8', '3.2',
       '8.9', '6.4', '7.8', '7.5', '2.6', '7.2', '9.2', '7', '7.3', '4.3',
       '7.6', '5.7', '5', '9.1', '6.5', '8.8', '6.9', '9.4', '6.8', '6.1',
       '6.7', '5.4', '4', '4.9', '4.5', '9.3', '6.2', '4.2', '6', '3.7',
       '4.1', '5.8', '5.6', '5.5', '4.4', '4.6', '5.9', '3.9', '3.1',
       '2.9', '5.2', '3.3', '4.7', '5.1', '3.5', '2.5', '1.9', '3', '2.7',
       '2.2', '2', '9.5', '2.1', '3.6', '2.8', '1.8', '3.8', '0', '1.6',
       '9.6', '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2', '2.3',
       '0.5', '1.3', '0.2', '0.6', '1.4', '0.9', '1', '9.7'], dtype=object)

In [21]:
dataframe['User_Score'].median()
# using median to calculate the median 'User_Score'

7.5

In [26]:
z = dataframe['User_Score'].replace(np.nan, '7.5')
# using replace() to repalce NaN values with 7.5 which was the calcualted median and saving to variable 'z'
dataframe = dataframe.assign(User_Score = z)
# assignign the new pandas series saved to z as 'User_Score'
dataframe.head(20)
# Viewing the first 20 rows to check the column 'User_Score'

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,7.5,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,7.5,NaN,NaN,NaN
10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.05,10.95,1.93,2.74,24.67,NaN,NaN,7.5,NaN,NaN,NaN
11,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,Nintendo,E
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,NaN,NaN,7.5,NaN,NaN,NaN
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
14,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,Good Science Studio,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,Rockstar North,M
17,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81,95.0,80.0,9,1588.0,Rockstar North,M
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,7.5,NaN,NaN,NaN
19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.74,9.20,4.16,2.04,20.15,77.0,58.0,7.9,50.0,Nintendo,E

I feel that I completed the last task correctly for this assignment, but I am unsure if it was the best way to do it. When I was attempting this task in other ways I noticed the only way I could get the values to be replaced was to save the results to a variable.